 h1 {
   text-align: center;
   font-family: cursive;
   letter-spacing: 3px;
   margin-bottom: 50px;
   margin-top: 70px;
 }

 table {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
   width: 50em;
   height: 20em;
   background-color: #f8f6f6;
 }

 tr {
   transition: transform .2s;
 }

 td {
   font-style: italic;
   font-size: 17px;
 }

 tr:hover {
   background-color: #dddd;
   -ms-transform: scale(0.5);
   -webkit-transform: scale(0.5);
   transform: scale(1.1);
 }

 td,
 th {
   border: 1px solid #dddd;
   padding: 10px;
   text-align: center;

 }