@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    scrollbar-width: thin;
}

/* ------------ Header-Start ------------ */
header {
    background-image: url(breadcrumb.webp);
    width: 100%;
    height: 470px;
}

header .container span {
    color: white;
    transition: color 600ms;
}

header .container span i {
    margin-right: 7px;
}

header .container .about span:hover {
    color: red;
    cursor: pointer;
}

header .container .icons1 i {
    color: white;
    margin: 0 10px;
    transition: color 600ms;
}

header .container .icons1 i:hover {
    color: red;
    cursor: pointer;
}

header .container {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

header .container .about {
    margin-left: 100px;
}

header .container .about span {
    display: inline-block;
    margin: 0 0 0 50px;
}

/* ------------ Nav-Start ----------- */
#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

#main-container .logo {
    margin-left: 90px;
}

#main-container .about-vebsite a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 0 15px;
    transition: color 600ms;
}

/* ---------------- Drop-down ------------- */
.drop-down {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 35px;
    color: white;
    line-height: 5px;
    padding: 15px;
    border-radius: 300px;
    display: none;
}

.drop-down p {
    padding: 0 3px;
}

/* -------------- drop-down end ------------ */
#main-container .about-vebsite a:hover {
    color: red;
}

nav .text {
    margin-top: 110px;
}

nav .text {
    text-align: center;
}

nav .text h1 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}

nav .text p span {
    color: red;
}

nav .text p {
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

/* ----------- Section-Start --------- */
section {
    margin-top: 80px;
}

section #main-container-2 {
    display: flex;
    justify-content: space-around;
}

section #main-container-2 .bg-color {
    background-color: red;
}

.bg-radius {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(228, 228, 228);
    height: 380px;
    width: 300px;
}

.container-2 {
    display: flex;
    justify-content: center;
}

section .container-2 .img-1 img {
    border-radius: 70px;
}

section #main-container-2 .text-2 {
    text-align: center;
    margin-top: 10px;
}

section #main-container-2 .text-2 h3 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section #main-container-2 .text-2 p {
    margin-bottom: 5px;
    line-height: 27px;
}

section #main-container-2 .icons2 {
    margin-top: 30px;
}

section #main-container-2 .icons2 span {
    display: inline-block;
    border: solid 2px black;
    margin: 0 7px;
    border-radius: 30px;
}

section #main-container-2 .icons2 span i {
    padding: 10px;
}

/* ----------------- Position ------------------ */
section #main-container-2 .bg-radius .position {
    position: absolute;
    transform: translate(125px, 175px);
    display: none;
}

/* ----------------- Position span ------------------ */
section #main-container-2 .bg-radius .position span i {
    padding: 10px;
    border-radius: 40px;
    font-size: 35px;
    background-color: white;
    color: red;
}

section #main-container-2 .bg-color:hover {
    background-color: rgb(255, 253, 253);
}

section #main-container-2 .bg-color .bg-radius:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: unset;
    cursor: pointer;
}

section #main-container-2 .bg-color .bg-radius:hover .position {
    display: block;
}

section #main-container-2 .bg-radius .position span i:hover {
    color: white;
    background-color: red;
}

/* --------------- Bg-radius 2 -------------- */
.bg-radius2 {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(228, 228, 228);
    height: 380px;
    width: 300px;
}

.container-3 {
    display: flex;
    justify-content: center;
}

section .container-3 .img-2 img {
    border-radius: 70px;
}

section #main-container-2 .text-3 {
    text-align: center;
    margin-top: 10px;
}

section #main-container-2 .text-3 h3 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section #main-container-2 .text-3 p {
    margin-bottom: 5px;
    line-height: 27px;
}

section #main-container-2 .icons3 {
    margin-top: 30px;
}

section #main-container-2 .icons3 span {
    display: inline-block;
    border: solid 2px black;
    margin: 0 7px;
    border-radius: 30px;
}

section #main-container-2 .icons3 span i {
    padding: 10px;
}

/* ----------------- Position ------------------ */
section #main-container-2 .bg-radius2 .position2 {
    position: absolute;
    transform: translate(125px, 175px);
    display: none;
}

/* ----------------- Position span ------------------ */
section #main-container-2 .bg-radius2 .position2 span i {
    padding: 10px;
    border-radius: 40px;
    font-size: 35px;
    background-color: white;
    color: red;
}

section #main-container-2 .bg-color:hover {
    background-color: rgb(255, 253, 253);
}

section #main-container-2 .bg-color .bg-radius2:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: unset;
    cursor: pointer;

}

section #main-container-2 .bg-color .bg-radius2:hover .position2 {
    display: block;
}

section #main-container-2 .bg-radius2 .position2 span i:hover {
    color: white;
    background-color: red;
}

/* -------------- Bg-radius 3-------------- */
.bg-radius3 {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(228, 228, 228);
    height: 380px;
    width: 300px;
}

.container-4 {
    display: flex;
    justify-content: center;
}

section .container-4 .img-3 img {
    border-radius: 70px;
}

section #main-container-2 .text-4 {
    text-align: center;
    margin-top: 10px;
}

section #main-container-2 .text-4 h3 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section #main-container-2 .text-4 p {
    margin-bottom: 5px;
    line-height: 27px;
}

section #main-container-2 .icons4 {
    margin-top: 30px;
}

section #main-container-2 .icons4 span {
    display: inline-block;
    border: solid 2px black;
    margin: 0 7px;
    border-radius: 30px;
}

section #main-container-2 .icons4 span i {
    padding: 10px;
}

/* ----------------- Position ------------------ */
section #main-container-2 .bg-radius3 .position3 {
    position: absolute;
    transform: translate(125px, 175px);
    display: none;
}

/* ----------------- Position span ------------------ */
section #main-container-2 .bg-radius3 .position3 span i {
    padding: 10px;
    border-radius: 40px;
    font-size: 35px;
    background-color: white;
    color: red;
}

section #main-container-2 .bg-color:hover {
    background-color: rgb(255, 253, 253);
}

section #main-container-2 .bg-color .bg-radius3:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: unset;
    cursor: pointer;

}

section #main-container-2 .bg-color .bg-radius3:hover .position3 {
    display: block;
}

section #main-container-2 .bg-radius3 .position3 span i:hover {
    color: white;
    background-color: red;
}

/* ------------ Bg-radius 4---------------- */
.bg-radius4 {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(228, 228, 228);
    height: 380px;
    width: 300px;
}

.container-5 {
    display: flex;
    justify-content: center;
}

section .container-5 .img-4 img {
    border-radius: 70px;
}

section #main-container-2 .text-5 {
    text-align: center;
    margin-top: 10px;
}

section #main-container-2 .text-5 h3 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section #main-container-2 .text-5 p {
    margin-bottom: 5px;
    line-height: 27px;
}

section #main-container-2 .icons5 {
    margin-top: 30px;
}

section #main-container-2 .icons5 span {
    display: inline-block;
    border: solid 2px black;
    margin: 0 7px;
    border-radius: 30px;
}

section #main-container-2 .icons5 span i {
    padding: 10px;
}

/* ----------------- Position ------------------ */
section #main-container-2 .bg-radius4 .position4 {
    position: absolute;
    transform: translate(125px, 175px);
    display: none;
}

/* ----------------- Position span ------------------ */
section #main-container-2 .bg-radius4 .position4 span i {
    padding: 10px;
    border-radius: 40px;
    font-size: 35px;
    background-color: white;
    color: red;
}

section #main-container-2 .bg-color:hover {
    background-color: rgb(255, 253, 253);
}

section #main-container-2 .bg-color .bg-radius4:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: unset;
    cursor: pointer;

}

section #main-container-2 .bg-color .bg-radius4:hover .position4 {
    display: block;
}

section #main-container-2 .bg-radius4 .position4 span i:hover {
    color: white;
    background-color: red;
}

/* ----------------- ------ Main container 3 ---------------- ----------------- */
section #main-container-3 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

section #main-container-3 .bg-color {
    background-color: red;
}

.bg-radius5 {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(228, 228, 228);
    height: 380px;
    width: 300px;
}

.container-6 {
    display: flex;
    justify-content: center;
}

section .container-6 .img-5 img {
    border-radius: 70px;
}

section #main-container-3 .text-6 {
    text-align: center;
    margin-top: 10px;
}

section #main-container-3 .text-6 h3 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section #main-container-3 .text-6 p {
    margin-bottom: 5px;
    line-height: 27px;
}

section #main-container-3 .icons6 {
    margin-top: 30px;
}

section #main-container-3 .icons6 span {
    display: inline-block;
    border: solid 2px black;
    margin: 0 7px;
    border-radius: 30px;
}

section #main-container-3 .icons6 span i {
    padding: 10px;
}

/* ----------------- Position ------------------ */
section #main-container-3 .bg-radius5 .position5 {
    position: absolute;
    transform: translate(125px, 175px);
    display: none;
}

/* ----------------- Position span ------------------ */
section #main-container-3 .bg-radius5 .position5 span i {
    padding: 10px;
    border-radius: 40px;
    font-size: 35px;
    background-color: white;
    color: red;
}

section #main-container-3 .bg-color:hover {
    background-color: rgb(255, 253, 253);
}

section #main-container-3 .bg-color .bg-radius5:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: unset;
    cursor: pointer;

}

section #main-container-3 .bg-color .bg-radius5:hover .position5 {
    display: block;
}

section #main-container-3 .bg-radius5 .position5 span i:hover {
    color: white;
    background-color: red;
}

/* --------------- Bg-radius 6 -------------- */
.bg-radius6 {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(228, 228, 228);
    height: 380px;
    width: 300px;
}

.container-7 {
    display: flex;
    justify-content: center;
}

section .container-7 .img-6 img {
    border-radius: 70px;
}

section #main-container-3 .text-7 {
    text-align: center;
    margin-top: 10px;
}

section #main-container-3 .text-7 h3 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section #main-container-3 .text-7 p {
    margin-bottom: 5px;
    line-height: 27px;
}

section #main-container-3 .icons7 {
    margin-top: 30px;
}

section #main-container-3 .icons7 span {
    display: inline-block;
    border: solid 2px black;
    margin: 0 7px;
    border-radius: 30px;
}

section #main-container-3 .icons7 span i {
    padding: 10px;
}

/* ----------------- Position ------------------ */
section #main-container-3 .bg-radius6 .position6 {
    position: absolute;
    transform: translate(125px, 175px);
    display: none;
}

/* ----------------- Position span ------------------ */
section #main-container-3 .bg-radius6 .position6 span i {
    padding: 10px;
    border-radius: 40px;
    font-size: 35px;
    background-color: white;
    color: red;
}

section #main-container-3 .bg-color:hover {
    background-color: rgb(255, 253, 253);
}

section #main-container-3 .bg-color .bg-radius6:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: unset;
    cursor: pointer;

}

section #main-container-3 .bg-color .bg-radius6:hover .position6 {
    display: block;
}

section #main-container-3 .bg-radius6 .position6 span i:hover {
    color: white;
    background-color: red;
}

/* -------------- Bg-radius 7-------------- */
.bg-radius7 {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(228, 228, 228);
    height: 380px;
    width: 300px;
}

.container-8 {
    display: flex;
    justify-content: center;
}

section .container-8 .img-7 img {
    border-radius: 70px;
}

section #main-container-3 .text-8 {
    text-align: center;
    margin-top: 10px;
}

section #main-container-3 .text-8 h3 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section #main-container-3 .text-8 p {
    margin-bottom: 5px;
    line-height: 27px;
}

section #main-container-3 .icons8 {
    margin-top: 30px;
}

section #main-container-3 .icons8 span {
    display: inline-block;
    border: solid 2px black;
    margin: 0 7px;
    border-radius: 30px;
}

section #main-container-3 .icons8 span i {
    padding: 10px;
}

/* ----------------- Position ------------------ */
section #main-container-3 .bg-radius7 .position7 {
    position: absolute;
    transform: translate(125px, 175px);
    display: none;
}

/* ----------------- Position span ------------------ */
section #main-container-3 .bg-radius7 .position7 span i {
    padding: 10px;
    border-radius: 40px;
    font-size: 35px;
    background-color: white;
    color: red;
}

section #main-container-3 .bg-color:hover {
    background-color: rgb(255, 253, 253);
}

section #main-container-3 .bg-color .bg-radius7:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: unset;
    cursor: pointer;

}

section #main-container-3 .bg-color .bg-radius7:hover .position7 {
    display: block;
}

section #main-container-3 .bg-radius7 .position7 span i:hover {
    color: white;
    background-color: red;
}

/* ------------ Bg-radius 8---------------- */
.bg-radius8 {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(228, 228, 228);
    height: 380px;
    width: 300px;
}

.container-9 {
    display: flex;
    justify-content: center;
}

section .container-9 .img-8 img {
    border-radius: 70px;
}

section #main-container-3 .text-9 {
    text-align: center;
    margin-top: 10px;
}

section #main-container-3 .text-9 h3 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section #main-container-3 .text-9 p {
    margin-bottom: 5px;
    line-height: 27px;
}

section #main-container-3 .icons9 {
    margin-top: 30px;
}

section #main-container-3 .icons9 span {
    display: inline-block;
    border: solid 2px black;
    margin: 0 7px;
    border-radius: 30px;
}

section #main-container-3 .icons9 span i {
    padding: 10px;
}

/* ----------------- Position ------------------ */
section #main-container-3 .bg-radius8 .position8 {
    position: absolute;
    transform: translate(125px, 175px);
    display: none;
}

/* ----------------- Position span ------------------ */
section #main-container-3 .bg-radius8 .position8 span i {
    padding: 10px;
    border-radius: 40px;
    font-size: 35px;
    background-color: white;
    color: red;
}

section #main-container-3 .bg-color:hover {
    background-color: rgb(255, 253, 253);
}

section #main-container-3 .bg-color .bg-radius8:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: unset;
    cursor: pointer;

}

section #main-container-3 .bg-color .bg-radius8:hover .position8 {
    display: block;
}

section #main-container-3 .bg-radius8 .position8 span i:hover {
    color: white;
    background-color: red;
}

/* ------------------ Main container 4 ---------------- */
footer {
    margin-top: 120px;
}

.container-10,
.container-11,
.container-12,
.container-13 {
    padding: 40px;
}

#main-container-4 {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

#main-container-4 div {
    color: white;
}

#main-container-4 h2 {
    text-transform: uppercase;
    font-size: 20px;
}

/* --------------- Box-1 ----------- */
#main-container-4 .box-1,
.box-2,
.box-3 {
    margin-top: 70px;
    cursor: pointer;
}

#main-container-4 .box-1 span:hover,
.box-2 p:hover,
.box-3 p:hover {
    color: red;
}

#main-container-4 .box-1 span,
.box-2 p,
.box-3 p {
    transition: color 600ms;
}

#main-container-4 .box-1 .mail,
.location {
    margin-top: 30px;
}

#main-container-4 .box-1 .phone span i {
    padding: 8px;
    color: red;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 10px;
}

#main-container-4 .box-1 .mail span i {
    padding: 8px;
    color: red;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 10px;
}

#main-container-4 .box-1 .location span i {
    padding: 8px;
    color: red;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 10px;
}

#main-container-4 .box-1 .phone span p,
.mail span p,
.location span p {
    margin-left: 30px;
}

/* ------------- Box-2, 3--------- */
#main-container-4 .box-2,
.box-3 p {
    line-height: 35px;
}

/* ----------------- Box-4 --------------- */
.container-13 .box-4 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 70px;
    cursor: pointer;
}

/* ------------ Main-container 5------------ */
#main-container-5 {
    background-color: #454545;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

#main-container-5 div:first-child {
    color: white;
}

#main-container-5 .icons10 i {
    margin: 0 10px;
    color: red;
    background-color: white;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
}