@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-image: linear-gradient(to right, rgb(240, 161, 213) , rgb(207, 30, 198));
}

table{
    border-collapse: collapse;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 59vw;
    text-align: center;
    margin-top: 25vh;
    background-color: white;
    box-shadow: 20px 20px 90px rgb(78, 73, 73);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

tr:nth-child(2n){
    background-color: #f0efef;
}

tr:hover{
    background-color: bisque;
}

th,td{
    padding: 9px;
}

td{
    font-family: "Roboto Mono", monospace;
}

th{
    background-color: rgb(207, 30, 198);
    color: white;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

.border-radius-top-left{
    border-top-left-radius: 20px;
}

.border-radius-top-right{
    border-top-right-radius: 20px;
}

