body {
    background-color: #f8f9fa;
  }

  .login-container {
    margin-top: 100px;
  }

  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }

  .card-body {
    padding: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"] {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ced4da;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .submit {
    background-color: rgb(57, 94, 182);
    border: rgba(19, 45, 158, 0.642);
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
  }

  a {
    font-style: italic;
  }

 